
    <!DOCTYPE html>
    <html lang="en">
    <head>
      
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      
      
      <link href="dashboard.css" rel="stylesheet" >
        <title>Dashboard Page</title>
        <style>
            h1{
                color: red;
            }
        </style>
    </head>
    <body>
        <div class="row" style="width: 100.5vw;">
          <div id="a1" class="text-center col-sm-6 " >
            
            <a href="/studentlogin" ><button id="b"type="button" class="btn btn-danger">Student Login</button></a></div>
      
        <div id="a2" class="text-center col-sm-6" >
        <a href=" /teacherlogin" ><button id="b" type="button" class="btn btn-danger">Teachers Login</button></a></div>
      </div>
 
    </body>
    </html>
    