
#a1{
        height: 565px;
       
        background-image: url("https://img.freepik.com/premium-vector/back-school-cartoon-boy-student-showing-fingers-up_46527-623.jpg");
        
        /* background-color: rgb(78, 204, 221); */
      
}

#b{
  
   width: 100%;

  
}
#a2{
    height: 565px;
   
    background-image: url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg");
    
    /* background-color: rgb(78, 204, 221); */
  
}